body, h1, h2, h3, h4, h5, h6, p, pre, ol, ul, li, form, input, textarea, dl, dt, dd {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: none; }

body {
  font-family: sans-serif;
  font-size: 14px;
  font-family: 'SFNSText', 'Helvetica Neue', 'Microsoft Yahei', 'SimHei', sans-serif;
  color: #fff; }
